<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature android:name="android.hardware.faketouch"
        android:required="false"/>
    <uses-feature android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature android:name="android.hardware.camera.any"
        android:required="false"/>
    <uses-feature android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature android:name="android.hardware.sensor"
        android:required="false"/>
    <!-- Some TV devices have an ethernet connection only -->
    <uses-feature android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature android:name="android.software.leanback"
        android:required="true" />

    <application
        android:banner="@drawable/tv_banner"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- New Main Activity -->
        <activity android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Old Welcome Activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity android:name=".VideoPlayerActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/FullScreenTheme">
        </activity>

        <activity android:name=".ExitActivity"
            android:exported="true">
        </activity>

    </application>
</manifest>